
@media all and (min-width:428px){
	h1{
		margin: 0;
		margin-left: 3%;
	}
	body{
		background-color: #FAECE9;
		margin: 0;
	}
	.topb{
		background-color: #9FAD89;
		width: 100%;
		line-height: 100px;
		margin: 0;

	}
	.jay{
		text-align: left;
		font-size: 2em;
		background-color: grey;
		font-family: helvetica;
	}
	.Landing{
		margin: 1.5em 50px 10%;
		font-size: 1.15em;
		width: 80%;
	}
	nav{
		width: 25%;
		height: 100vh;
		background-color: green;
		display: inline-block;
		float: left;
		margin-right: 5%;
	}
	nav a{
		line-height: 45px;
		font-size: 1.8em;
		color: #FFFFFF;
		padding: 5px;
		margin-right: 5%;
		text-align: center;
		display: block;
	}

	/* ********IPAD/TABLET********* */

@media all and (min-width: 1024px){
	body{
		background-color: #F2BAAE;
		margin: 0;
	}
	.jay{
		text-align: left;
		font-size: 3.5em;
		background-color: grey;
	}
	nav a{
		line-height: 45px;
		font-size: 1.2em;
		color: #FFFFFF;
		padding: 5px;
		margin-right: 10%;
		text-align: center;
		display: inline-block;
}
nav{
	display: inline;
	float: right;
	margin-right: 5%;
	width: 35%;
	height: 10%;
	background-color: transparent;
	text-align: right;
}
.topb{
	background-color: #9FAD89;
	width: 100%;
	margin: 0;
}
h1{
	display: inline-block;
	margin: 0;
	margin-left: 3%;
}



/* ********DESKTOP********* */


@media all and (min-width:1500px) {
Body{
	margin: o%;
	postion: absolute;
	background-color: #FC8C81;
}
.jay{
	top: 0;
	position: sticky;
	background-color: blue;
	text-align: left;
	height: 55px;
	width: 100%
}
Nav{
	text-align: center;
}
.pract{

	display: inline-block;

	width: 350px;
	height: 100px;
	padding: 100px;
	border-radius: 5px;
	transition-property: all;
	transition-delay: 0.24;
	transition-duration:.24s;
	transition-timing-function: ease-in;
}
